<div class="container">
    <div style="margin: 1em 0;">
        <a mat-mini-fab color="primary" aria-label="Back" routerLink="/">
            <mat-icon>arrow_back</mat-icon>
        </a>
    </div>
    <div *ngIf="!error" style="margin-bottom: 2em;">
        <div class="movie-card mat-elevation-z4">
            <mat-card>
                <mat-card-title>{{data.title}}</mat-card-title>
                <mat-card-subtitle>{{getYearOnly(data.release_date)}}</mat-card-subtitle>
                <mat-card-content>
                  <p>Dirigida por <b>{{data.director}}</b></p>
                  <p>Episodio {{data.episode_id}}</p>
                  <p>Producida por {{data.producer}}</p>
                </mat-card-content>
            </mat-card>
        </div>
        <mat-tab-group mat-align-tabs="center" backgroundColor="accent">
            <mat-tab label="Naves ({{starships.length}})">
                <mat-grid-list [cols]="colsWidth" (window:resize)="handleWindowResize()" rowHeight="20em">
                    <mat-grid-tile *ngFor="let ship of starships">
                        <mat-card >
                            <mat-card-title>{{ship.name}}</mat-card-title>
                            <mat-card-subtitle>{{ship.starship_class}}</mat-card-subtitle>
                            <mat-card-content>
                                <p>Modelo {{ship.model}}</p>
                                <p>Esta nave tiene una capacidad para {{ship.passengers}} pasajeros y {{ship.crew}} de tripulación</p>
                                <mat-chip-list>
                                    <mat-chip color="accent" selected>${{convertPrice(ship.cost_in_credits)}}</mat-chip>
                                    <mat-chip color="accent" selected>{{ship.length}}m</mat-chip>
                                </mat-chip-list>
                            </mat-card-content>
                        </mat-card>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-tab>
            <mat-tab label="Personajes ({{characters.length}})">
                <mat-grid-list [cols]="colsWidth" (window:resize)="handleWindowResize()" rowHeight="20em">
                    <mat-grid-tile *ngFor="let character of characters">
                        <mat-card >
                            <mat-card-title>{{character.name}}</mat-card-title>
                            <mat-card-subtitle>{{character.gender}}</mat-card-subtitle>
                            <mat-card-content>
                              <p>Nació {{character.birth_year}}</p>
                              <mat-chip-list>
                                <mat-chip color="accent" selected>{{(character.height)}}cm</mat-chip>
                                <mat-chip color="accent" selected>{{character.mass}}Kg</mat-chip>
                            </mat-chip-list>
                            </mat-card-content>
                        </mat-card>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-tab>
            <mat-tab label="Planetas ({{planets.length}})">
                <mat-grid-list [cols]="colsWidth" (window:resize)="handleWindowResize()" rowHeight="20em">
                    <mat-grid-tile *ngFor="let planet of planets">
                        <mat-card >
                            <mat-card-title>{{planet.name}}</mat-card-title>
                            <mat-card-subtitle>{{planet.climate}}</mat-card-subtitle>
                            <mat-card-content>
                                <p>El terreno aquí es {{planet.terrain}}</p>
                                <p>Su día son {{planet.rotation_period}} horas y tarda {{planet.orbital_period}} días en dar una vuelta a su estrella</p>
                              <p>{{convertPopulation(planet.population)}} personas viven en el planeta</p>
                            </mat-card-content>
                        </mat-card>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-tab>
        </mat-tab-group>
    </div>
    <div *ngIf="error" style="margin-bottom: 2em;">
        <mat-card>
            <mat-card-title>Página no encontrada</mat-card-title>
            <mat-card-subtitle>Error 404</mat-card-subtitle>
            <mat-card-content>La película que estás buscando no existe, puede ser que se haya eliminado o que haya un error en la URL que buscas</mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" routerLink="/">Ir a la página principal</button>
            </mat-card-actions>
        </mat-card>
    </div>
    
</div>
