<div class="container">
    <h2 style="color: white; text-align: center; margin: 16px 0 16px;">Lista de películas</h2>
    <mat-grid-list [cols]="colsWidth" (window:resize)="handleWindowResize()">
        <mat-grid-tile *ngFor="let movie of movies">
            <mat-card>
                <mat-card-title><a type="button" routerLink="/movie/{{getId(movie.url)}}">{{movie.title}}</a></mat-card-title>
                <mat-card-subtitle>{{getYearOnly(movie.release_date)}}</mat-card-subtitle>
                <mat-card-content>
                  <p>Dirigida por <b>{{movie.director}}</b></p>
                  <p>Episodio {{movie.episode_id}}</p>
                  <p>Se estrenó el día {{getCustomDate(movie.release_date)}}</p>
                </mat-card-content>
                <mat-card-actions>
                  <a mat-raised-button routerLink="/movie/{{getId(movie.url)}}" color="primary">Detalles</a>
                </mat-card-actions>
              </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>
